body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
    padding-top: 80px;
}

.card {
    background: #111827;
    padding: 20px;
    width: 400px;
    margin: auto;
    border-radius: 12px;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

pre {
    text-align: left;
    width: 60%;
    margin: 30px auto;
    background: black;
    padding: 20px;
}

select {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
}